.character-sprite {
  position: absolute;
  bottom: 10%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.character-sprite--far-left {
  left: 5%;
}

.character-sprite--left {
  left: 15%;
}

.character-sprite--center {
  left: 50%;
  transform: translateX(-50%);
}

.character-sprite--right {
  right: 15%;
}

.character-sprite--far-right {
  right: 5%;
}

.character-sprite__image {
  max-height: 100%;
  max-width: 400px;
  object-fit: contain;
  filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));
}
